body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.chat-box {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.user-message, .bot-message {
    margin: 10px 0;
    padding: 12px 16px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.4;
    color: #2e2e2e;
}


.user-message {
    background-color: #d4d4d4;
    text-align: right;
    align-self: flex-end;
}

.bot-message {
    /* width: 50%; */
    background-color: #d7dcf8;
    text-align: left;
    align-self: flex-start;
}

.user-message::first-line, .bot-message::first-line {
    font-weight: 600;
}

.user-message::first-line {
    color: #313131;
}

.bot-message::first-line {
    color: #0011a7;
}

.input-container {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex-grow: 1;
    padding: 12px 16px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
}

button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}